# Non-python requirements:
# ffmpeg (or libav-tools on ubuntu)
# chromaprint (libchromaprint0 on ubuntu)

# Python requirements:
protobuf==2.5.0
gmusicapi
google-api-python-client
mutagen
pyacoustid
youtube_dl
